:root {
    --yellow:#c69c48;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
section {
    padding: 2rem 9%;
}
.heading {
    text-align: center;
    font-size: 4rem;
    color: #661a22;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(197, 48, 123, 0.05);
}
.heading span {
    color: #203456;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #E5D283;
    color: #213555;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: bolder;
}
.btn:hover {
    background: var(--yellow);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
header .logo {
    font-size: 3rem;
    color: #203456;
    font-weight: bolder;
}
header .logo span {
    color: var(--yellow);
}
header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}
header .navbar a:hover {
    color: var(--yellow);
}
header .icons a {
    font-size: 22px;
    color: #333;
    margin-left: 1.5rem;
}
header .icons a:hover {
    color: var(--yellow);
}
header #toggler {
    display: none;
}
header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 5rem;
    padding: 5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, .3);
    display: none;
}
.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(hbg.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 81rem;
}
.home .content h3 {
    font-size: 8rem;
    color: #661a22;
} 
.home .content span {
    font-size: 3.8rem;
    color: var(--yellow);
    font-weight: bold;
    padding: 1rem 0;
    line-height: 1.5;
}
.home .content p {
    font-size: 1.8rem;
    color: #b08888;
    padding: 1rem 0;
    line-height: 1.5;
}
.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding:  2rem 0;
    padding-bottom: 3rem;
}
.about .row .img-container {
    flex: 1 1 40rem;
    position: relative;
}
.about .row .img-container img {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1remrgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}
.about .row .img-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #eee;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}
.about .row .content {
    flex: 1 1 40rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: #333;
}
.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
.services {
    background: #f9eeea;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.services .icons {
    background: #fff;
    border: 5px solid #661a22;
    padding: 18px;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}
.services .icons img {
    height: 6rem;
    margin-right: 2rem;
}
.services .icons h3 {
    color: #203456;
    padding-bottom: .5rem;
    font-size: 20px;
}
.services .icons span {
    color: #b08888;
    font-size: 1.3rem;
}
.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.menu .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: 1rem solid rgba(0, 0, 0, .1);
    position: relative;
}
.menu .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 10px;
    font-size: 20px;
    color: var(--yellow);
    background: #eee;
    z-index: 1;
    border-radius: .5rem;
}
.menu .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.menu .box-container .box .image img {
    height:25rem;
}
.menu .box-container .box:hover .image img {
    transform:scale(1,1)
}
.menu .box-container .box .image .icons {
    position: absolute;
    bottom: 7rem;
    left: 0;
    right: 0;
    display: flex;
}
.menu .box-container .box:hover .image .icons {
    bottom: 0;
} 
.menu .box-container .box .image .icons a {
    height: 5rem;
    line-height: 5rem;
    font-size: 17px;
    width: 50%;
    background: var(--yellow);
    color: #fff;
}
.menu .box-container .box .image .icons .cart-btn {
    border-left: .1rem solid #999;
    border-right: .1rem solid #999;
    width: 100%;
}
.menu .box-container .box .image .icons a:hover {
    background: #333;
}
.menu .box-container .box .content {
    padding: 1rem;
    text-align: center;
}
.menu .box-container .box .content h3 {
    font-size: 15px;
    color: #333;
}
.menu .box-container .box .content .price {
    font-size: 2.5rem;
    color: var(--yellow);
    font-weight: bolder;
    padding-top: 1rem;
}
.menu .box-container .box .content .price span {
    font-size: 15px;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}
.contact .row {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}
.contact .row form {
    flex: 1 1 40rem;
    padding: 25px;
    box-shadow: 0 .5rem 1.5 rgba(0, 0, 0, .1);
    border: 7px solid #203456;
    background: #fff;
    background-repeat: repeat-y;
    border-radius: .5rem;
}
.contact .row .image {
    flex: 1 1 40rem;
}
.contact .row .image img {
    width: 100%;
}
.contact .row form .box {
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 4px solid #661a22;
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}
.contact .row form .box:focus {
    border-color: var(--yellow);
}
.contact .row form textarea {
    height: 15rem;
    resize: none;
}
.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box {
    flex: 1 1 25rem;
}
.footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}
.footer .box-container .box a {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.footer .box-container .box a:hover {
    color: var(--yellow);
    text-decoration: underline;
}
.footer .footer-bottom {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}
.footer .footer-bottom span{
    color: var(--yellow);
}
.container {
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.5);
}
form {
    margin: 0 2rem;
}
.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}
input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}
.input-group {
    padding: 1% 0;
    position: relative;
}
.input-group i {
    position: absolute;
    color: black;
}
input:focus {
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327, 90%, 28%);
} 
input::placeholder {
    color: transparent;
}
label {
    color: #757575;
    position: relative
    left 1.2em;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus~label, input:not(placeholder~show)~label {
    top: -3em;
    color: hsl(327, 90%, 28%);
    font-size: 15px;
}
.recover {
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.recover a {
    text-decoration: none;
    color: rgb(125,125,235);
}
.recover a:hover {
    color: blue;
    text-decoration: underline;
}
.signup .signin .btn {
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(125,125,235);
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.signup .signin .btn:hover {
    background: #07001f;
}
.or {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}
.icons {
    text-align: center;
}
.icons i {
    color: rgb(125,125,235);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5 rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
    margin: 0 15px;
    transition: 1s;
}
.icons i:hover {
    background: #07001f;
    font-size: 1.6rem;
    border: 2px solid rgb(125,125,235);
}
.links {
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
}
button {
    color: rgb(125,125,235);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}
button:hover {
    text-decoration: underline;
    color: blue;
}















@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
    .home {
        background-position: left;
    } 
}
@media (max-width: 768px) {
    header .fa-bars {
        display: block;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 1rem solid rgba(0, 0, 0, .1);
        display: block;
    }
    .home .content h3 {
        font-size: 5rem;
    }
    .home .content span {
        font-size: 2.5rem;
    }
    .services .icons h3 {
        font-size: 2rem;
    }
    .services .icons span {
        font-size: 1.7rem;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 3rem;
    }
}
}